<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <title>{{pageTitle}}</title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation" style="border: 1px solid blue;">
        <div class="navbar-brand">
            <h1 class="navbar-item is-uppercase has-text-weight-bold is-size-3" style="color: black;">EBDA Submission Validator</h1>
        </div>
    </nav>
    {{{body}}}
</body>

</html>