<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section class="section">
        <div class="container has-text-black">
            <h1 class="title has-text-black has-text-centered" style="margin-bottom: 75px;">Validator</h1>

            <div class="columns">
                <div class="column is-half">
                    <button class="button is-info">Validate</button>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Submission ID</th>
                                <th>Study ID</th>
                                <th>File Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><label class="checkbox"><input type="checkbox"></label></th>
                                <th>1</th>
                                <th>238</th>
                                <th>input.txt</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="column">
                    <h1 style="font-size: 20px;" class="has-text-centered">Output</h1>
                </div>
            </div>
        </div>
    </section>
</body>

</html>